

* {
  font-family: 'Bitter', serif;
  box-sizing: border-box;
    } 
  
body {
      margin: 0;
    }
    
 
.col-md-2 {
    background-color: rgb(178, 138, 103);
    padding-left: 1rem;
    }
  
.col-md-10 {
    background-color:#d3d0bc;
      }

h1, .h1 {
    text-align: center;
    color:rgb(110, 94, 0); /*se cambio color de fondo y tipografia*/
    background-color:#d3d0bc;
    margin-right: 1rem;
  }

h2{
color: #5c5101;
text-align: center;
border-bottom-color : #5c5101;
border-bottom-style: solid;
border-top-color : #5c5101;
border-top-style: solid;
font-style: italic;
font-weight: bold;
margin-right: 1rem;
}

h3{
  color: #5c4a2f;
  text-align: center;
  border-bottom-color : #5c5101;
  border-bottom-style: solid;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 1rem;
  padding-top: 2rem;
  margin-right: 1rem;
  }

h4{
  color: #5c4a2f;
  text-align: center;
  border-bottom-color : #5c5101;
  border-bottom-style: solid;
   font-style: italic;
   margin-right: 1rem;
 }

/* * ul{
  padding:0
}*/

li{
margin-bottom: 1.5%;
margin-top: 1.5%;
margin-right: 2rem;
}

/* listas anidadas */

.li_aux{
list-style:none;
} 

.li_sub{
margin-bottom: 0;
margin-top: 0; 
}


/* estilos links*/

a:link {
text-decoration: none;
}

/* estilos de las secciones*/
.parrafo{
  text-align: justify;
  color:rgb(92, 67, 30);
  margin-left: .5rem;
  margin-right: 1rem;
  }

#titulo_principal{
  color:rgb(110, 94, 0); 
  background-color:#d3d0bc;
  text-align: center;
  font-style: italic;
  font-weight: bold;
 }

#fotopersonal{
  max-width:inherit; 
  height:inherit;
  padding-left: 1rem;
  padding-top: 1rem;
 }

 #linkedln{
  padding-left: 1rem;
 }

#habilidades{
  padding-top: 1rem;
  }

#formulario_contacto{
  padding-top: 1rem;
text-align:left;
padding-left: 1rem;
} 

#enviar{
color:rgb(35, 30, 5);
background-color: beige;
text-align: center;
margin-left: 1rem;
/*margin-left: 5%;
margin-top: 1%;*/
}

#borrar{
  color:rgb(35, 30, 5);
  background-color: beige;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  /*margin-left: 5%;
  margin-top: 1%;*/
  }

#presentacion{
color:rgb(92, 67, 30);
background-color:#d3d0bc;
text-align: justify;
padding-left: 1rem;
padding-right: 1rem;
}

#titulos{
color:rgb(92, 67, 30);
background-color:#d3d0bc;
text-align: justify;
 }

#antecedentes_laborales{
color:rgb(92, 67, 30);
background-color:#d3d0bc;
text-align: justify;
}

#videos{
  max-width:100%;
  max-height:100%;
  text-align: center; 
}

#clases_virtuales{
  max-width:100%;
  max-height:100%;
  text-align: center; 
}



/* estilos para los recuadros de los formularios*/

.entrada{ 
width: 80%;
font-size: small;
color:rgb(184, 118, 62);
background-color: beige;
}
.etiqueta{
  line-height: 3rem;
  font-weight: bold;
}

#otros{
width: 90%;
height: inherit; 
color:rgb(154, 82, 19);
margin-left: 5%;
margin-right: 5%;
margin-top: 2%;
padding: 1%;
background-color: beige;
resize: none;
}

/* estilos para acordion*/

.accordion-item {
  background-color: #d3d0bc; /* cambie color*/
  border: 1px solid rgb(110, 94, 0); /* cambie color*/

}

.accordion-button:focus {
 
  border-color: rgb(110, 94, 0);/* cambie color*/
  box-shadow: 0 0 0 0.25rem rgba(35, 30, 5, .25);
}

.accordion-button {
  align-items: center;
  /*max-width: inherit; */
  font-size: 1.3rem;
  color: #5c5101;
  text-align: left;
  background-color: #d3d0bc;
 }
 
.accordion-button:not(.collapsed) {
  color: #5c5101;
  background-color: #d3d0bc;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.125);
}
.accordion-body {
  text-align: justify;
  color:rgb(92, 67, 30);
}


