

* {
  font-family: 'Bitter', serif;
  } 

h2{
color: #5c5101;
text-align: center;
border-bottom-color : #5c5101;
border-bottom-style: solid;
font-style: italic;
font-weight: bold;
}

h3{
  color: #5c4a2f;
  text-align: center;
  border-bottom-color : #5c5101;
  border-bottom-style: solid;
  margin-top: 2rem;
  font-style: italic;
  font-weight: bold;
  }

h6{
  color: #5c4a2f;
  text-align: center;
  border-bottom-color : #5c5101;
  border-bottom-style: solid;
  margin-top: 2rem;
  font-style: italic;
 }

li{
margin-bottom: 1.5%;
margin-top: 1.5%;
margin-left: 1%;
}

/* listas anidadas */
* ul{
  padding:0
}

.li_aux{
list-style:none; 
padding-left: 0.5rem;
} 

.li_sub{
margin-bottom: 0;
margin-top: 0; 
}

.col-md-2 {
  background-color: rgb(178, 138, 103);
 }

.col-md-10 {
  background-color:#d3d0bc;
  padding-right: 5%;
}

/* estilos links*/

a:link {
text-decoration: none;
}

/* estilos de las secciones*/
.parrafo{
  text-align: justify;
  padding-left: 5%;
  color:rgb(92, 67, 30);
  padding-right: 5%;
}

#titulo_principal{
  color:rgb(110, 94, 0); 
  background-color:#d3d0bc;
  text-align: center;
  font-style: italic;
  font-weight: bold;
 }

#fotopersonal{
  max-width:inherit; 
  height:inherit;
  padding-left: 1rem;
  padding-top: 1rem;
 }

 #linkedln{
  padding-left: 1rem;
 }

#habilidades{
  padding-left: 1rem;
  padding-top: 1rem;
  scroll-margin-left: center;
 }

#formulario_contacto{
text-align:justify;
padding: 1rem;
} 

#enviar{
color:rgb(35, 30, 5);
background-color: beige;
text-align: center;
margin-left: 5%;
margin-top: 1%;
}

#presentacion{
color:rgb(92, 67, 30);
background-color:#d3d0bc;
text-align: justify;
padding-left: 1rem;
padding-right: 1rem;
margin: 2rem;
}

#titulos{
color:rgb(92, 67, 30);
background-color:#d3d0bc;
margin: 3%;
text-align: justify;
 }

#antecedentes_laborales{
color:rgb(92, 67, 30);
background-color:#d3d0bc;
margin: 3%;
text-align: justify;
}

.accordion-body {
  text-align: justify;
  color:rgb(92, 67, 30);
}
/* estilos para los recuadros de los formularios*/

.entrada{ 
width: 20%;
font-size: medium;
color:rgb(184, 118, 62);
background-color: beige
}
.etiqueta{
  line-height: 3rem;
  font-weight: bold;
}

#otros{
width: 90%;
height: inherit; 
color:rgb(154, 82, 19);
margin-left: 5%;
margin-right: 5%;
margin-top: 2%;
padding: 1%;
background-color: beige;
resize: none;
}

.accordion-item {
  background-color: #d3d0bc; /* cambie color*/
  border: 1px solid rgb(110, 94, 0); /* cambie color*/
}

.accordion-button:focus {
 
  border-color: rgb(110, 94, 0);/* cambie color*/
  box-shadow: 0 0 0 0.25rem rgba(35, 30, 5, .25);
}
h1, .h1 {
  text-align: center;
  color:rgb(110, 94, 0); /*se cambio color de fondo y tipografia*/
  background-color:#d3d0bc
}

/*.row {
  background-color:#d3d0bc; 
  }
.row > * {
    background-color:#d3d0bc; 
 }
 */
.accordion-button {
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem; /*se modifico el valor del padding*/
  font-size: 1.3rem;
  color: #5c5101;
  text-align: left;
  background-color: #d3d0bc;
  border: 0;
 }

.accordion-button:focus {
  border-color: rgb(110, 94, 0);/* cambie color*/
  box-shadow: 0 0 0 0.25rem rgba(35, 30, 5, .25);
}

.accordion-item {
  background-color: #d3d0bc; /* cambie color*/
  border: 1px solid rgb(110, 94, 0); /* cambie color*/
}
